.searchPage{
    flex: 0.85;
    background-color: #f9f9f9;
    padding: 20px 20px;
}

.searchPage__filter{
    display: flex;
    align-items: center;
    font-size: xx-small !important;
    color: rgb(77, 76, 76);
}
.searchPage__filter > h2{
    margin-left: 10px;
}
.searchPage__filter > hr{
    border: 0;
    height: 1px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}