.videoPlayerPage {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column; /* Change to column to stack the player and details */
    align-items: center;
  }
  
  .videoPlayerPage__player {
    
  }
  
  .videoPlayerPage__details {
    width: 70%; /* Match width with the video player */
    margin-top: 20px;
  }
  
  .videoPlayerPage__details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .videoPlayerPage__details p {
    font-size: 14px;
    color: #606060;
  }
  
  .videoPlayerPage__details hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #e6e6e6;
  }
  
  .videoPlayerPage__channelInfo {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .videoPlayerPage__channelImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .videoPlayerPage__channelInfo h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .videoPlayerPage__channelInfo p {
    font-size: 14px;
    color: #606060;
  }

  